<form
  class="flex flex-col items-center justify-center h-screen bg-gray-100"
  #loginForm="ngForm"
  (ngSubmit)="login(loginForm)"
>
  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-4xl font-bold mb-6 text-center text-orange-500">Login</h2>
    <div class="mb-4">
      <label for="username" class="block text-gray-700 font-semibold mb-2">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300 bg-orange-200"
        placeholder="Enter username"
        #username="ngModel"
        ngModel
        username
      />

      <div>
        <div
          *ngIf="username.invalid && username.touched"
          class="text-red-500 text-sm bg-red-200 mt-1 p-2"
        >
          <div *ngIf="username.errors?.['required']">Username is required.</div>
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300 bg-orange-200"
        placeholder="Enter password"
        #password="ngModel"
        minlength="6"
        ngModel
        password
      />
      <div>
        <div
          *ngIf="password.invalid && password.touched"
          class="text-red-500 text-sm bg-red-200 mt-1 p-2"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
    </div>
    <button
      [disabled]="loginForm.invalid"
      [ngClass]="{ 'btn-disable': loginForm.invalid }"
      type="submit"
      class="cursor-pointer font-mono text-2xl w-full bg-yellow-500 text-black py-2 px-4 rounded hover:bg-yellow-600 transition duration-200"
    >
      Login
    </button>
    <h3 class="text-gray-600 mt-4">
      Dont have an account? <a href="/register" class="text-blue-500 hover:underline">Register</a>
    </h3>
  </div>
</form>
